@use "../../../../styles/mixins.module";

.container {
  @include mixins.wrapper;
}

.wrapper {
  @include mixins.card;

  text-align: center;
  padding: 80px 95px;
  margin: 70px 0;

  &__title {
    font-size: 22px;
    margin-bottom: 35px;
  }
}

.inputs {
  width: 100%;
  display: grid;
  gap: 35px;
  margin-bottom: 28px;

  .inputs > * {
    flex: 1;
  }
}
