.container {
  flex: 1;
  margin: 64px 100px;
}

.title {
  font-size: 30px;
  margin-bottom: 24px;
  text-align: center;
}

.wrapper {
  display: grid;
  gap: 25px;
  padding: 32px;
  border-radius: 15px;
  border: 1px solid #35373b;
}

.salary {
  display: grid;
  grid-template-columns: 0.4fr 5fr;
  gap: 27px;
}

.columns {
  display: flex;
  gap: 122px;

  &__item {
    display: grid;
    gap: 8px;
  }
}

.info {
  display: flex;
  align-items: center;
}
